exportPattern("^[[:alpha:]]+")
import(DatabaseConnector)
import(SqlRender)
import(ggplot2)
import(dplyr)
import(viridis)
importFrom(utils, read.csv, write.csv)
importFrom(grDevices, jpeg, dev.off)
importFrom(stats, ave, sd)
